// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
:root {
  --ion-font-family:
    Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  --ion-background-color: #07051f;
  --ion-text-color: #ffffff;
  --ion-color-primary: #5ce2ad;
}
